<div class="item-advantages-block">
    <div class="wrap">
        <div class="list">
            <div class="item">
                <img src="/extension/eroticshop/catalog/view/img/advantages7.svg">
                <div class="name">
                    Доставка
                </div>
                <p>Заказ будет доставлен в течение 2 - х часов</p>
                <a href="#">Подробнее</a>
            </div>
            <div class="item">
                <img src="/extension/eroticshop/catalog/view/img/advantages8.svg">
                <div class="name">
                    Самовывоз
                </div>
                <p>Заказ будет доставлен в течение 2 - х часов</p>
                <a href="#">Подробнее</a>
            </div>
            <div class="item">
                <img src="/extension/eroticshop/catalog/view/img/advantages9.svg">
                <div class="name">
                    Оплата
                </div>
                <p>Заказ будет доставлен в течение 2 - х часов</p>
                <a href="#">Подробнее</a>
            </div>
        </div>
    </div>
</div>