{{ header }}
<div id="account-register" class="login-page">
    <div class="wrap">
        <h1>Регистрация</h1>
        <div class="top-text">
            Введите свои данные для регистрации
        </div>
        <form id="form-register" action="{{ register }}" method="post" data-oc-toggle="ajax">
            <div class="field">
                <input type="text" name="firstname" id="input-firstname" placeholder="Имя">
                <br>
                <div id="error-firstname" class="invalid-feedback"></div>
            </div>
            <div class="field">
                <input type="text" name="lastname" id="input-lastname" placeholder="Фамилия">
                <br>
                <div id="error-lastname" class="invalid-feedback"></div>
            </div>
            <div class="field">
                <input type="text" name="telephone" id="input-telephone" placeholder="Телефон">
                <br>
                <div id="error-lastname" class="invalid-feedback"></div>
            </div>
            <div class="field">
                <input type="text" name="email" id="input-email" placeholder="Email">
                <br>
                <div id="error-email" class="invalid-feedback"></div>
            </div>
            <div class="field">
                <input type="text" name="age" id="input-age" placeholder="Возраст">
                <br>
                <div id="error-age" class="invalid-feedback"></div>
            </div>
            <div class="select">
                <input type="radio" class="radio" id="s1" name="s1"><label for="s1">Мужчина</label>
                <input type="radio" class="radio" id="s2" name="s1"><label for="s2">Женщина</label>
                <br>
                <div id="error-gender" class="invalid-feedback"></div>
            </div>
            <div class="field">
                <input type="password" name="password" id="input-password-nw" placeholder="Введите пароль">
                <a class="eye password-control-nw"></a>
                <br>
                <div id="error-password" class="invalid-feedback"></div>
            </div>
            <div class="field">
                <input type="password" name="confirm" id="input-confirm-wn" placeholder="Подтвердите пароль">
                <a class="eye password-control-wn"></a>
                <br>
                <div id="error-confirm" class="invalid-feedback"></div>
            </div>
            <div class="select">
                <input type="checkbox" class="checkbox" id="ch1"><label for="ch1">Подписка на новости</label>
            </div>
            <div class="select">
                <label class="form-check-label">{{ text_agree }}</label> <input type="checkbox" name="agree" value="1" class="form-check-input"/>
            </div>


            <button type="submit">Далее</button>
        </form>
    </div>
</div>
{{ footer }}
