<div class="fields" id="custom-comment">
	<h3>{{ heading_comment }}</h3>
	<div class="form-group">
		<label class="control-label" for="input-comment"></label>
		<textarea name="comment" rows="3" placeholder="{{ entry_comment }}" id="input-comment" class="form-control">{{ comment }}</textarea>
	</div>
</div>