<div class="index-steps-block">
        <div class="wrap">
            <h2>Как оформить заказ на нашем сайте?</h2>
            <div class="list list-old">
                <div class="item item-old">
                    <div class="icon">
                        <img src="/extension/eroticshop/catalog/view/img/step1.svg">
                    </div>
                    Оформите заказ на сайте или отправьте SMS на номер <span>0555 060990</span> с сылками выбранных товаров
                </div>
                <div class="item item-old">
                    <div class="icon">
                        <img src="/extension/eroticshop/catalog/view/img/step2.svg">
                    </div>
                    Ожидайте звонка для подтверждения заказа
                </div>
                <div class="item item-old">
                    <div class="icon">
                        <img src="/extension/eroticshop/catalog/view/img/step3.svg">
                    </div>
                    Заказ будет доставлен в течение 2 - х часов
                </div>
            </div>
        </div>
</div>