<div class="index-advantages-block">
    <div class="wrap">
        <h2>Наши преимущества</h2>
        <div class="flex">
            <div class="item">
                <div><img src="/extension/eroticshop/catalog/view/img/advantages1.svg"></div>
                <div>
                    <span>Доставка</span>
                    по всему Кыргызстану
                </div>
            </div>
            <div class="item">
                <div><img src="/extension/eroticshop/catalog/view/img/advantages2.svg"></div>
                <div>
                    <span>Скидки</span>
                    Лучшие цены у нас!
                </div>
            </div>
            <div class="item">
                <div><img src="/extension/eroticshop/catalog/view/img/advantages3.svg"></div>
                <div>
                    <span>Оплата</span>
                    Наличный, безналичный расчет
                </div>
            </div>
            <div class="item">
                <div><img src="/extension/eroticshop/catalog/view/img/advantages4.svg"></div>
                <div>
                    <span>Анонимность!</span>
                    Гарантия анонимности!
                </div>
            </div>
            <div class="item">
                <div><img src="/extension/eroticshop/catalog/view/img/advantages5.svg"></div>
                <div>
                    <span>Возврат товара</span>
                    Обмен и возврат брака
                </div>
            </div>
            <div class="item">
                <div><img src="/extension/eroticshop/catalog/view/img/advantages6.svg"></div>
                <div>
                    <span>Большой выбор</span>
                    Широкий ассортимент товара!
                </div>
            </div>
        </div>
    </div>
</div>