<div class="custom-popup fancybox-content-override" id="popup2" style="display: none; width: 100%; max-width: 370px;">
    <div class="custom-cart">
        <div class="custom-name">
            <div class="custom-image"><img id="popupImage" src="" style="width: 70px; height: 70px"></div>
            <div class="custom-details"><p>Товар <a id="popupName" href=""></a> Артикул: <span id="popupSku"></span> добавлен в <a href="{{ cart }}">корзину</a></p></div>
        </div>
        <div class="custom-buttons">
            <a href="javascript:;" data-fancybox-close>Продолжить покупки</a>
            <a href="{{ cart }}">Оформить заказ</a>
        </div>
    </div>
</div>





